@import '../lib/normalize.scss';
/* ==========================================================================
   Global css for proofs.com
   ========================================================================== */
*{box-sizing:border-box;}
html, body{
  height:100%;
}
body{
  background:#a5a5a5;
  background:radial-gradient(circle at top center,
    darken(white,40%) 0%,
    darken(white,50%) 25%,
    darken(white,55%) 50%,
    darken(white,60%) 70%);
}